@media screen and (min-width: 1024px){
    body .itens{
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: var(--lg-space);
        justify-content: flex-end;
    }

    body .card-checkout .selector button,
    body .card-checkout .selector input{
        width: 50px;
        height: 50px;
    }

    body .bottom-info{
        margin-top: 0;
    }
}

.itens{
    width: 100%;
    max-width: 1128px;
    margin: auto;
    padding: var(--xxlg-space) var(--lg-space);
}

.card-checkout{
    display: flex;
    gap: var(--lg-space);
    background-color: #fff;
}

.card-checkout .content{
    padding: var(--md-space);
}

.card-checkout + .card-checkout{
    margin-top: var(--lg-space);
}

.card-checkout figure{
    height: 150px;
    width: 150px;
    overflow: hidden;
}

.card-checkout h1{
    font-size: 24px;
}

.card-checkout h2{
    font-size: 18px;
    font-weight: 400;
    color: gray;
}

.card-checkout p{
    margin-top: var(--md-space);
}

.card-checkout figure img{
    height: 100%;
}

.card-checkout .selector{
    margin-top: var(--lg-space);
}

.card-checkout input{
    font-size: 18px;
    text-align: center;
}
.card-checkout .selector button,
.card-checkout .selector input{
    width: 30px;
    height: 30px;
}

.bottom-info{
    display: flex;
    gap: var(--lg-space);
    flex-direction: column;
    background-color: #fff;
    padding: var(--md-space);
    margin-top: var(--lg-space);
    height: 170px;
}

.bottom-info p{
    font-size: 18px;
}